.sidebar {
  display: flex;
  flex-direction: column;
  min-width: 21%;

  @media (max-width: 1550px) {
    min-width: 25%;
  }

  @media (max-width: 1024px) {
    display: none;
  }

  &__logo-box {
    max-width: 250px;
    padding: 30px;
  }
  &__logo {
    width: 100%;
  }

  &__nav {
    background: rgba(232, 232, 232, 0.6);

    &-title {
      padding-left: 2.6rem;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 1.875em;
      line-height: 36px;
      letter-spacing: 0.025em;
      color: rgba(0, 0, 0, 0.85);
      @media (max-width: 1280px) {
        padding-left: 1.6rem;
      }
    }

    &-list {
      list-style-type: none;
      padding: 0 30px 0 0;

      .sidebar__nav-item {
        padding-left: 2.6rem;
        background-image: url('./../assets/images/dash.svg');
        background-size: 2rem;
        background-position: 0 50%;
        background-repeat: no-repeat;
        transition: all 0.1s ease-out;

        @media (max-width: 1280px) {
          padding-left: 1.6rem;
          background-size: 1rem;
        }

        &:hover {
          padding-left: 2.8rem;
          background-size: 2.6rem;

          @media (max-width: 1280px) {
            padding-left: 1.8rem;
            background-size: 1.6rem;
          }
        }
        
        .sidebar__nav-link {
          display: inline-block;
          text-decoration: none;
          font-family: 'Inter';
          font-weight: 500;
          font-size: 20px;
          line-height: 30px;
          color: #000000;
          white-space: nowrap;
          width: 100%;
          transition: all 0.1s ease-out;

          @media (max-width: 1280px) {
            font-size: 18px;
          }
          &:hover {
            font-size: 21px;
            font-weight: 700;
            @media (max-width: 1280px) {
              font-size: 19px;
            }
          }
        }
      }
    }


  }
}

.news-box {
  &__title {
    padding-left: 2.6rem;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.85);
    @media (max-width: 1280px) {
      padding-left: 1.6rem;
    }
  }

  &__list {
    list-style-type: none;
    padding-left: 0;
  }

  &__item {
    padding-left: 2.6rem;
    transition: all 0.1s ease-out;
    @media (max-width: 1280px) {
      padding-left: 1.6rem;
      // background-size: 1rem;
    }

    &:hover {
      background-image: url('./../assets/images/dash.svg');
      background-size: 2rem;
      background-position: 0 50%;
      background-repeat: no-repeat;
      padding-left: 2.6rem;
      letter-spacing: 0;
      @media (max-width: 1280px) {
        padding-left: 1.6rem;
        background-size: 1rem;
      }
    }
  }

  &__link {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.75);
    transition: all 0.1s ease-out;
    white-space: nowrap;

    @media (max-width: 1280px) {
      font-size: 15px;
    }
    &:hover {
      font-size: 29px;
      line-height: 29px; 
      color: #000000;
      @media (max-width: 1280px) {
        font-size: 16px;
      }
    }
  }
}